{% extends "main/base.html" %}

{% block content %}
<h1>{{ course.title }}</h1>
<p>{{ current_slide.content }}</p>

<div>
    {% if user_progress.current_slide > 1 %}
    <a href="{% url 'course_detail' stage.id course.id %}?slide={{ user_progress.current_slide|add:'-1' }}">Previous</a>
    {% endif %}
    {% if user_progress.current_slide < slides|length %}
    <a href="{% url 'next_slide' stage.id course.id %}">Next</a>
    {% else %}
    <a href="{% url 'complete_course' stage.id course.id %}">Complete Course</a>
    {% endif %}
</div>

<a href="{% url 'stage_detail' stage.id %}">Back to Stage</a>
{% endblock %}
