
{% extends "main/base.html" %}

{% block content %}
<h1>Slide {{ slide.order }}</h1>
<div>
    <p>{{ slide.content }}</p>
</div>

<div class="navigation">
    {% if prev_slide %}
        <a href="{% url 'roadmap_slide' slide.course.id prev_slide.order %}" class="btn btn-secondary">Previous</a>
    {% endif %}
    {% if next_slide %}
        <a href="{% url 'roadmap_slide' slide.course.id next_slide.order %}" class="btn btn-secondary">Next</a>
    {% else %}
        {% if is_last_course %}
            <!-- Redirect to the test page if it's the last course of the stage -->
            <a href="{% url 'roadmap_test' slide.course.stage.id %}" class="btn btn-success">Complete Stage and Take Test</a>
        {% else %}
            <!-- Redirect to the next course -->
            <a href="{% url 'roadmap_course' slide.course.stage.id slide.course.order|add:1 %}" class="btn btn-success">Complete Course</a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
